* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.container {
  max-width: 500px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid #eee;
  background-color: #fff;
}

.title {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}